.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1.5px solid #850c48;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 400px;
    justify-content: space-between;
}

.containerImagem {
    width: 100%;
    height: 250px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagemProduto {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.informacoes {
    text-align: left;
    width: 100%;
}

.titulo {
    font-size: 0.9rem;
    font-weight: 400;
    color: #333;
    margin: 10px 0;
}

.preco {
    font-weight: bold;
    font-size: 1.1rem;
    color: #000;
}
