.card {
    background-color: rgb(255, 221, 227);
    padding: 60px 40px;
    border-radius: 50px;
    box-shadow: 0 10px 25px rgba(150, 17, 17, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 3px solid transparent;
    background-image: linear-gradient(rgb(255, 221, 227), rgb(255, 221, 227)),
                      linear-gradient(145deg, #790d43, #e6618d, #d6658b, #850c48);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    min-height: 350px;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}
