.sobre {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

.sobre h1 {
    color: #db5280;
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.descricao {
    font-size: 1.1rem;
    color: #db5280;
    margin-bottom: 3.5rem;
    font-weight: bold;
}

.missao {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.itens {
    padding: 30px 20px;
    background: rgb(255, 221, 227);
    border-radius: 40px;
    border-bottom: 5px solid rgb(218, 84, 135);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(226, 15, 113, 0.15);
    transition: transform 0.3s ease;
     border: 3px solid transparent;
    background-image: linear-gradient(rgb(255, 221, 227), rgb(255, 221, 227)),
                      linear-gradient(145deg, #790d43, #e6618d, #d6658b, #850c48);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.itens:hover {
    transform: translateY(-5px);
}

.itens svg {
    font-size: 2.5rem;
    color: #fcecf3;
    margin-bottom: 15px;
}

.itens h2 {
    font-size: 1.4rem;
    color: #7a0035;
    margin-bottom: 15px;
}

.itens p {
    font-size: 1rem;
    color: #7a0035;
    line-height: 1.5;
}
